# Database Configuration
POSTGRES_USER=neondb_owner
POSTGRES_PASSWORD=password_placeholder
POSTGRES_DB=neondb
DB_EXPOSE_PORT=5432
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?schema=public

# Redis Configuration
REDIS_URL=redis://redis:6379

# Authentication Service
FLEXIBASE_AUTH_EXPOSE_PORT=5000
FLEXIBASE_AUTH_SECRET_KEY=secret_key_placeholder
FLEXIBASE_AUTH_REFRESH_SECRET_KEY=refresh_secret_key_placeholder
FLEXIBASE_ADMIN_USER=admin@flexibase.com
FLEXIBASE_ADMIN_PASSWORD=admin_password_placeholder

# Database Service
FLEXIBASE_DB_EXPOSE_PORT=5001
AUTH_SERVICE_URL=http://flexibase-auth:5000

# Storage Service
FLEXIBASE_STORAGE_EXPOSE_PORT=5002
S3_ENDPOINT=http://minio:9000
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_BUCKET_NAME=flexibase-storage
S3_REGION=us-east-1

# Mailer Service
FLEXIBASE_MAILER_EXPOSE_PORT=5003
MAIL_PROVIDER=smtp
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=smtp_user_placeholder
SMTP_PASS=smtp_pass_placeholder
SMTP_SECURE=false

# Dashboard
NEXT_PUBLIC_AUTH_SERVICE_URL=http://localhost:5000
NEXT_PUBLIC_DB_SERVICE_URL=http://localhost:5001
NEXT_PUBLIC_STORAGE_SERVICE_URL=http://localhost:5002
NEXT_PUBLIC_MAILER_SERVICE_URL=http://localhost:5003

# Common
NODE_ENV=development
