version: "3.8"
services:
  # THIS IS A REQUIRED IMAGE. DO NOT REMOVE IT
  postgres:
    image: postgres:15
    container_name: postgres
    ports:
      - ${DB_EXPOSE_PORT}:5432
    environment:
      - POSTGRES_USER=${FLEXIBASE_ADMIN_USER}
      - POSTGRES_PASSWORD=${FLEXIBASE_ADMIN_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    volumes:
      - postgres-data:/var/lib/postgresql/data
    restart: unless-stopped

  # Authentication Service

  flexibase-auth:
    build: ./flexibase-auth
    container_name: flexibase-auth
    ports:
      - ${FLEXIBASE_AUTH_EXPOSE_PORT}:${FLEXIBASE_AUTH_EXPOSE_PORT}
    environment:
      - FLEXIBASE_AUTH_EXPOSE_PORT=${FLEXIBASE_AUTH_EXPOSE_PORT}
      - FLEXIBASE_AUTH_SECRET_KEY=${FLEXIBASE_AUTH_SECRET_KEY}
      - FLEXIBASE_AUTH_REFRESH_SECRET_KEY=${FLEXIBASE_AUTH_REFRESH_SECRET_KEY}
      - DATABASE_URL=${DATABASE_URL}
    depends_on:
      - postgres
    restart: unless-stopped

  # Database Service
  flexibase-db:
    image: modularminds/flexibase-db
    container_name: flexibase-db
    ports:
      - ${FLEXIBASE_DB_EXPOSE_PORT}:${FLEXIBASE_DB_EXPOSE_PORT}
    environment:
      - FLEXIBASE_DB_EXPOSE_PORT=${FLEXIBASE_DB_EXPOSE_PORT}
      - FLEXIBASE_ADMIN_USER=${FLEXIBASE_ADMIN_USER}
      - FLEXIBASE_ADMIN_PASSWORD=${FLEXIBASE_ADMIN_PASSWORD}
      - DB_EXPOSE_PORT=${DB_EXPOSE_PORT}
      - DB_NAME=${DB_NAME}
      - DB_HOST=postgres
    depends_on:
      - postgres
    restart: unless-stopped

  # Storage Service
  flexibase-storage:
    image: modularminds/flexibase-storage
    container_name: flexibase-storage
    ports:
      - ${FLEXIBASE_STORAGE_EXPOSE_PORT}:${FLEXIBASE_STORAGE_EXPOSE_PORT}
    environment:
      - FLEXIBASE_STORAGE_EXPOSE_PORT=${FLEXIBASE_STORAGE_EXPOSE_PORT}
      - FLEXIBASE_ADMIN_USER=${FLEXIBASE_ADMIN_USER}
      - FLEXIBASE_ADMIN_PASSWORD=${FLEXIBASE_ADMIN_PASSWORD}
    restart: unless-stopped

volumes:
  postgres-data:

networks:
  default:
    name: flexibase-network
